$font-fam-titles: 'Raleway', sans-serif;
$font-fam-text: 'Roboto', sans-serif;

$main-bg-color: #fff;
$secondary-bg-color: #fcfcfc;
$titles-main-bg-color: #fbfbfb;
$titles-secondary-bg-color: #f8f8f8;

$color-titles: #92aac2;
$color-text: #9bb0cd;

$special-effect-color: #f8bb10;

$transition: all .2s easy-in;