$font-fam-titles: 'Raleway', sans-serif;
$font-fam-text: 'Roboto', sans-serif;

$bg-section-header--odd: #fbfbfb;
$bg-section-header--even: #f8f8f8;
$bg-section-content--odd: #fff;
$bg-section-content--even: #fcfcfc;

$element-title-color: #867278;
$text-color: #939393;

$special-effect-color: #f8bb10;
$color-line: #ececec;

$transition: all .2s