@import "../_base/vars";

.section-container {
    display: flex;
}

.section-header {
    flex-basis: 30%;
    padding: $padding-content-section;
    text-align: right;
    &__title {
        color: $text-h2-color;
        font-family: $font-fam-titles;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.45;
        text-transform: uppercase;
    }
    &__sub-title {
        display: block;
        margin-top: 0.55rem;
        color: $color-sub-title;
        font-family: $font-fam-text;
        font-size: 14px;
    }
}

.section-header--odd {
    background-color: $bg-section-header--odd
}

.section-header--even {
    background-color: $bg-section-header--even
}

.section-content {
    flex-basis: 70%;
    padding: $padding-content-section;
}

.section-content--odd {
    background-color: $bg-section-content--odd;
}

.section-content--even {
    background-color: $bg-section-content--even;
}



